.wrapper-top{
    position: relative;
    background-color: #464646;
    height: 340px;
}
.image-play-list{
    position: absolute;
    top: 84px;
    left:32px;
    width: 232px;
    height: 232px;
}
.image-play-list img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info{
    position: absolute;
    display: flex;
    left: 306px;
    top: 116px;
    flex-direction: column;
    color: #fff;
}
.name-play-list h1{
    font-size: 4rem;
    font-weight: 600;
}