.search{
    height: 84px;
    position: relative;
}
.search-wrapper{
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #121212;
}
.search-wrapper .search-input{
    margin-top: 16px;
    margin-bottom: 4px;
    width: 50%; 
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    position: relative;
}
.search-wrapper .search-input input{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 1.5rem;
    outline: none;
    padding-left: 64px;
    font-size: 1.2rem;
}
.search-wrapper .icon-search{
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
}
