.navbar{
    position: relative;
    height: 100%;
    width: 100%;
}
.navbar-wrapper{
    position: fixed;
    top:0;
    background-color: #000;
    padding: 1em;
    height: 100vh;
    min-width: inherit;
    width: 20rem;
    z-index: 10;
}

/* --------user----------- */
/* user image */
.user-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    gap: 12px;
}
.user-wrapper .user-img-wrapper{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user-wrapper .user-img-wrapper img{
    width: 100%;
}
/* user info */
.user-wrapper .user-info{
    font-size: 18px;
    color: #fff;
    opacity: 0.8;
}


/* ----------------- sidebar ---------------------- */

.sidebar-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
}
.sidebar-menu .sidebar-menu-item{
    display: flex;
    color: #f1f1f1;
    list-style: none;
    width:100%;
}
.sidebar-menu .sidebar-link{
    color: #f1f1f1;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    opacity: 0.8;
}
.sidebar-menu .sidebar-link i{
    padding: 0 10px;
}